POSTGRES_DB=ledgerflow
POSTGRES_USER=ledgerflow
POSTGRES_PASSWORD=ledgerflow-local
PROVIDER_FAILURE_RATE=0.0
PROVIDER_LATENCY_MS=100
REDIS_CONNECT_TIMEOUT=200ms
REDIS_COMMAND_TIMEOUT=200ms
TRANSACTION_CACHE_TTL=30s

